.btn {
    padding: .3em;
    font-size: 1em;
    border: 1px solid $dark;
    background: white;
    color: $dark;
    transition: all .2s ease;

    &:hover {
        cursor: pointer;
        background: $light;
    }

    &:focus {
        outline: none;
        background: darken($light, 10);
    }
}