.header {
    color: $light;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    .header__content {

        background-color: $dark;
        padding: 1.5em 2em 1em 2em;

        ul {
            display: flex;
            font-size: 1.3em;
            justify-content: space-between;
            margin: 0 auto .4em auto;
            max-width: 500px;
            padding: 0;
        }
    
        li {
            list-style: none;
    
            a {
                color: $light-gray;
                text-decoration: none;
                transition: color .2s ease;
    
                &.active {
                    border-bottom: 3px solid $light;
                    color: $light;
                }
    
                &:hover {
                    color: $light;
                }
            }
        }
    }
}
